* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: 'roboto', sans-serif;
    font-size: 10px;
}

/* 

17 - NAV BAR
47 - BANNER
134 - QUOTE


*/

.container {
    max-width: 1400px !important;
}

.container-fluid {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.navbar-brand {
    font-size: 2.4em;
    font-weight: 700;
}

.navbar-nav li.nav-item {
    padding-left: 20px !important;
    font-size: 1.5em;
}

.navbar-nav a.nav-link.active {
    border-bottom: 2px solid #feb900;
}

.navbar-nav a.nav-link {
    transition: .3s;
}

.navbar-nav a.nav-link:hover {
    border-bottom: 2px solid #feb900;
    transition: .3s;
}

/* banner */
.carousel-caption {
    display: flex !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 250px !important;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.606);
    width: 100%;
    color: #fff;
}

.carousel-item .carous01 {
    height: 100vh;
    width: 100%;
}

h1 {
    font-size: 5.6em;
    font-weight: bold;
}

.car-text p {
    font-size: 1.6em;
    color: rgba(255, 255, 255, 0.8);
}

.car-text {
    width: 60%;
}

.dummy {
    width: 40%;
}

.car-text h1::after {
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    background: #feb900;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.gt-started {
    font-weight: 500;
    font-size: 1.6em;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #feb900;
    cursor: pointer;
}

.gt-started:hover {
    background-color: #feb900;
    color: #fff;
    transition: 0.5s;
}

span.car-right {
    background: #feb900;
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
}

/* QUOTE */

.wid100 {
    width: 100;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.wid50 {
    width: 50%;
    padding: 10px 10px;
}

h2 {
    font-size: 3.4em;
    color: #202124;
}

p {
    font-size: 1.6em;
    font-weight: 300;
}

.q-text h2::after {
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    background: #feb900;
    left: 0;
    bottom: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
    font-size: 2.0em;
    font-weight: 500;
}

.bg-quote,
.bg-sandal {
    background-color: rgba(255, 255, 255, 0.848);
}

.q-text {
    padding: 25px;
    padding: 25px;
    height: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
}

.q-cont {
    background-color: #fff;
    padding: 25px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

input,
textarea {
    padding: 15px;
    margin: 15px 0;
    border: 2px solid rgba(0, 0, 0, 0.5) !important;
    transition: .2s;

}

.padTop {
    padding-top: 75px;
}

input:focus-visible,
textarea:focus-visible {
    border: 2px solid #feb900 !important;
    outline: 0 !important;
    transition: .2s;
}

/* constructions */
.padTop25 {
    padding-top: 25px;
}

.line h2::before {
    content: "";
    width: 50px;
    height: 3px;
    background: #feb900;
    display: inline-block;
    margin-right: 15px;
}

.line h2::after {
    content: "";
    width: 50px;
    height: 3px;
    background: #feb900;
    display: inline-block;
    margin-left: 15px;
}

.line h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.c1 {
    display: flex;
    border: 1px solid rgba(82, 86, 94, 0.2);
    margin: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.c1 img {
    width: 100%;
    height: 100%;
}






/* Services */
.s1 {
    width: 48px;
    height: 48px;
    position: relative;
    margin-bottom: 50px;

}

.s1 i {
    color: #52565e;
    font-size: 40px;
    transition: 0.3s;
    z-index: 999;
    position: relative;
}

.s1::before {
    position: absolute;
    content: "";
    height: 60px;
    width: 60px;
    background: #f0f1f2;
    border-radius: 50%;
    z-index: 99;
    top: 0px;
    left: 30px;
    transition: 0.3s;
}

.s1 h3 {
    color: #52565e;
    font-weight: 700;
    margin: 25px 0;
    padding-bottom: 8px;
    font-size: 22px;
    border-bottom: 4px solid #ebebed;
    transition: 0.3s;
}

.s1 {
    width: 31%;
    margin: 2% 1%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bs {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: 100%;
    padding: 25px;
}

.s1 a .fa-arrow-right-long {
    color: #feb900;
    font-size: 1.8em;
}

a:hover {
    text-decoration: none;
}

.s1 a {
    color: #feb900;
    font-size: 1.5em;
    display: flex;
    align-items: center;
}

.s1:hover.s1::before {
    background: #feb900;
    transition: .3s;
}

.s1:hover.s1 h3 {
    border-bottom: 4px solid #feb900;
    transition: .3s;
}

.s1:hover {
    cursor: pointer;
}





/* ABT SEC */

.abt-img img {
    width: 100%;
    height: 100%;
}

.abt-txt h2::after {
    content: "";
    width: 50px;
    display: block;
    height: 3px;
    background: #feb900;
    left: 0;
    bottom: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}

.abt-img {
    height: 100%;
}

.abt-lists i {
    font-size: 22px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    transition: .3s;
}

.abt-lists:hover i {
    background-color: #feb900;
    transition: .3s;
    color: #fff;
}

.abt-lists {
    cursor: pointer;
    margin: 35px 0;

}

.abt-lists:hover h3 {
    color: #feb900;
    transition: .3s;
}

.abt-lists h3 {
    transition: .3s;
}





/* Projects */
.pro {
    width: 31%;
    margin: 2% 1%;
    display: flex;
    position: relative;
    overflow: hidden;
}

.overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: .2s;
}

.pro img {
    transform: scale(1);
    transition: .2s;
}

.pro:hover img {
    transform: scale(1.1);
    transition: .2s;
}

.pro:hover .overlay {
    opacity: 1;
    transition: .2s;
    cursor: pointer;
}

.oveCon {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}

.oveCon i {
    text-align: center !important;
    font-size: 18px;
}

.ovBtn {
    font-weight: 500;
    font-size: 1.6em;
    letter-spacing: 1px;
    display: inline-block;
    padding: 4px 10px;
    transition: 0.3s;
    margin: 10px;
    background-color: #feb900;
    color: #fff;
    border: 2px solid #feb900;
    cursor: pointer;
}

/* Testimonial Sec */

.wid15 {
    width: 15%;
}

.wid85 {
    width: 85%;
    padding-left: 25px;
}

.testi i {
    padding: 15px 0;
    color: #feb900;
    font-size: 14px;
    padding-right: 6px;
}

.testi img {
    box-shadow: 2px 2px 4px;
    border-radius: 5px;
}

.testi {
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 2px 8px 24px, rgba(149, 157, 165, 0.2) -2px -8px 24px;
    padding: 50px 50px 50px 0px;
    margin-left: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.d-flex.right {
    margin-left: -45px;
}

.wid31 {
    width: 31%;
    margin: 2% 1%;
    display: flex;
}


/* BLOG */
.blog img {
    width: 100%;
    transition: .3s;
}

.blog p {
    padding: 10px 0;
}

.blog h3 {
    padding-top: 15px;
    transition: .3s;
}

.blog i {
    color: #feb900;
}

.posr {
    position: relative;
    overflow: hidden;
}

.blBtn {
    font-weight: 500;
    font-size: 1.5em;
    letter-spacing: 1px;
    position: absolute;
    bottom: 0px;
    right: 0;
    padding: 4px 10px;
    transition: 0.3s;
    background-color: #feb900;
    color: #fff;
    border: 2px solid #feb900;
    cursor: pointer;
}

.blog a,
.blog a i {
    font-size: 18px;
    color: #838893;
    transition: .3s;
}

.blg-cont:hover {
    cursor: pointer;
}

.blg-cont:hover h3,
.blg-cont:hover a,
.blg-cont:hover a i {
    color: #feb900;
    transition: .3s;
}

.blg-cont:hover img {
    transform: scale(1.1);
    transition: .3s;
}

.bg-footer {
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url('./images/footer-bg.jpg');
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    padding: 50px 0;
}

.marTp25 {
    margin-top: 50px;
}

.wid25 {
    width: 25%;
}

.footer h3 {
    padding-bottom: 25px;
}

::selection {
    background: orange;
    color: #fff;
}

@media (min-width: 280px) and (max-width: 575px) {

    body{
        font-size: 8px;
    }

    .carousel-caption {
        padding: 0 !important;
    }

    .dummy{
        width: 0%;
    }

    .car-text{
        width: 80%;
    }

    .carousel-item .carous01 {
        height: 70vh;
    }

    .wid50 {
        width: 100%;
    }

    .s1, .pro, .wid31, .wid25 {
        width: 100%;
    }

    .footer{
        text-align: center;
    }

    footer p{
        font-size: 1.8em;
    }

    .wid25.text-white {
        margin-bottom: 80px;
    }

    .padTop {
        padding-top: 35px;
    }

    .c1{
        flex-direction: column;
    }

    span.car-right {
        height: 35px;
        width: 35px;
    }
}